* {
	margin:0px;
	padding:0px;
	font-family:sans-serif;
}

body {
	text-align: center;
	background-color: rgb(183,185,182);
}

input {
	background-color: slategray;
	padding:4px 12px;
	margin:4px;
	width:100px;
	color: rgb(183,185,182);
	border:0px;
}

input:hover {
	cursor: pointer;
	color:white;
}

#frames {
	width:98%;
}

#frame_front,
#frame_back {
	position: absolute;
	top:10px;
	left:10px;
	width:98%;
}

#controls {
	width:98%;
	position: fixed;
	bottom: 60px;
	left:10px;
	color:slategray;
	margin:10px auto;
}

#data_stamp {
	font-family: monospace;
}

#mTimeLapse {
	display: none;
}